{% extends 'base.html' %}

{% block title %}Welcome to{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Welcome To the Site</h1>
        <div class="row">
        <div class="col-md-12">
            <img class="img-responsive" src="/static/imgs/banner01.png" alt="">
        </div>
            </div>
        </div>
</div>
<div class="container">
    <div class="row">
        {% for post in post_list %}
        <div class="col-md-6">
            <div class="posts">

                    <section class="post">
                        <header class="post-header">
                            <h2 class="post-title">{{ post.title }}</h2>
                        </header>

                        <div class="post-description">
                            <p>{{ post.content|safe }}</p>
                            <p>{% lorem %}</p>
                            <p class="post-meta">
                            Create Time:  <a class="post-author" href="{% url 'detail' id=post.id %}">{{ post.date_time }}</a>
                            <a class="post-category post-category-js" href="#">{{ post.category }}</a>
                            </p>
                            <p class="post-meta">
                            Last Modified Time:  <a class="post-author" href="{% url 'detail' id=post.id %}">{{ post.modify_time }}</a>
                            <a class="post-category post-category-js" href="#">{{ post.category }}</a>
                            </p>
                        </div>
                    </section>

             </div><!-- /.blog-post -->
        </div>
        {% endfor %}
    </div>
</div>
    <hr>
<footer>
    <div class="container">
        <p>&copy; Your Company {% now 'Y' %}</p>
    </div>
</footer>
{% endblock %}
